.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 28px;
  padding: 20px;
  margin: 0;
}

table {
  color: rgb(32, 32, 32);
  background: white;
  border: 1px solid grey;
  font-size: 18px;
  border-collapse: collapse;
  margin: 50px 0;
}
table thead th {
  color: #777;
  background: rgba(0,0,0,.1);
}
table th,
table td {
  padding: 15px;
  border: 1px solid lightgrey;
}

form {
  display: flex;
  flex-wrap: wrap;
}
label {
  margin: 10px;
  color: #777;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
input[type=text] {
  font-size: 18px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
/* input[type=checkbox] {
  justify-self: center;
} */

.delete, .edit, .add{
  appearance: none;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
  border-radius: 50%;
  box-shadow:0 0 3px 3px rgba(0, 0, 0, 0.06);
}
.add {
  margin-top: 15px;
  align-self: center;
}
.edit:hover {
  box-shadow: 0 0 3px 3px rgba(255, 165, 0, 0.1);
  color: orange;
  cursor: pointer;
}
.delete:hover {
  box-shadow:0 0 3px 3px rgba(255, 0, 0, 0.1);
  color: red;
  cursor: pointer;
}
.add:hover {
  box-shadow: 0 0 3px 3px rgba(0, 128, 0, 0.1);
  color: green;
  cursor: pointer;
}